{% extends "layouts/base.html" %}
{% block content %}
<div class="card-container">
    <a href="#" class="card info">
        <div class="overlay"></div>
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000" viewBox="0 0 16 16">
                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
            </svg>
        </div>
        <p class="card_title">Ses Bilgileri</p>
    </a>

    <a href="talk.html" class="card talk">
        <div class="overlay"></div>
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000" viewBox="0 0 16 16">
                <path d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <p class="card_title">Sohbete Başla</p>
    </a>


    <a href="{{url_for('recorder')}}" class="card voice-record">
        <div class="overlay"></div>
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000" viewBox="0 0 16 16">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <p class="card_title">Ses Kayıt Et</p>
    </a>
</div>
{% endblock %}