{% extends "layouts/base.html" %}
{% block content %}
<div class="card-container">
    <a href="talk.html" class="card talk">
        <div class="overlay"></div>
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000" viewBox="0 0 16 16">
                <path d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <p class="card_title">Sohbete Başla</p>
    </a>

    <a href="{{url_for('recorder')}}" class="card voice-record">
        <div class="overlay"></div>
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000" viewBox="0 0 16 16">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <p class="card_title">Ses Kayıt Et</p>
    </a>
</div>
{% endblock %}